/*
 * Crows - Crowd Syndication 1.0
 * Copyright 2009
 * contact@crowsne.st
 * http://www.crowsne.st/license
 */
* {
margin:0;
padding:0;
}

body {
font-family:verdana,sans;
font-size:12px;
background-position:50% 0;
background-repeat:no-repeat;
}

.left {
float:left !important;
}

.right {
float:right !important;
}

.italics {
font-style:italic;
}

.round {
-moz-border-radius:10px;
-webkit-border-radius:10px;
}

.red {
color:red;
}

h1 {
text-align:center;
font-size:42px;
margin:auto;
}

h2 {
font-size:17px;
font-weight:bolder;
}

.clear {
clear:both;
}

.link {
text-decoration:underline;
cursor:pointer;
}

.small_text {
font-size:12px;
}

.medium_text {
font-size:13px;
}

.large_text {
font-weight:bolder;
font-size:16px;
}

.tab {
border:solid #444 1px;
border-bottom:0;
float:left;
margin-right:4px;
background-color:#000;
color:#FFF;
padding:4px 15px;
}

.tab.active {
background-color:#FFF;
color:#000;
}

.tab:hover {
color:#FFD700 !important;
}

#container {
width:1020px;
border:solid #eee 1px;
margin:auto;
}

#header {
width:100%;
border-bottom:solid #444 1px;
}

#header_container {
width:1000px;
margin:auto;
}

#footer {
width:100%;
border-top:solid #444 1px;
text-align:center;
padding:11px 0;
}

/*widget styles*/
.widget_container {
margin-right:25px;
margin-top:20px;
}

.widget,#tweet_data {
border:solid #444 1px;
}

#reports,#youtube_playlist,#podcast_playlist,#tweet_data {
overflow:scroll;
}

#player.widget {
background-color:#000;
}

.tweet {
border-bottom:solid #ccc 1px;
padding:5px 5px 5px 0;
}

#podcast_title {
font-weight:bolder;
margin-top:26px;
}

.podcast {
float:left;
border-bottom:solid #ccc 1px;
margin:4px 0;
padding:4px;
}

#flickr .flickr_thumb {
border:solid #444 1px;
display:block;
float:left;
margin-right:6px;
width:75px;
height:75px;
margin-bottom:3px;
}

#photo_credit {
text-decoration:none;
color:#000;
}

.map_it {
display:block;
float:right;
color:#aaa;
}

#reports_widget {
float:left;
border:solid #777 1px;
margin-bottom:31px;
overflow:scroll;
background-color:#FFF;
}

.report {
border-bottom:solid #aaa 1px;
cursor:pointer;
margin:3px;
padding:3px;
}

.youtube {
border-bottom:solid #aaa 1px;
float:left;
margin:3px 0;
padding:3px;
}

/*report modal*/
.contribute_panel {
margin-left:22px;
margin-top:14px;
font-size:14px;
}

#contribute_modal .x-window-body {
background-color:#FFF;
}

#contribute_modal .x-form-item label {
xfont-weight:bolder;
font-size:13px;
}

#contribute_modal .x-tab-strip,.x-tab-panel-header {
display:none;
}

.report_form_message {
border:solid #aaa 1px;
font-size:13px;
min-height:150px;
padding:8px;
}

.x-btn-text {
font-weight:bolder;
text-transform:uppercase;
}

#submit_panel {
margin-right:220px;
margin-top:9px;
margin-bottom:10px;
border:solid #999 1px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
padding:5px;
}

#submit_button {
margin-top:25px;
margin-right:5px;
}

.crowdate {
font-size:11px;
}

#twitter.widget,#flickr.widget,#player.widget,#contribute_modal .x-panel-body {
border:none;
}

.bold,.controls .link,.podcast .title {
font-weight:bolder;
}

.link:hover,.contribute_link.selected {
color:blue !important;
}

/*black modal window styles*/
.x-window-proxy {
background:#e0e0e0;
border-color:#b0b0b0;
}

.x-window-tl .x-window-header {
color:#555;
}

.x-window-tl {
background-image:none !important;
background-color:#000;
-moz-border-radius-topleft:5px;
-webkit-border-top-left-radius:5px;
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
}

.x-window-bc {
xbackground-image:url(/public/styles/soapy/img/top-bottom-black.png);
}

.x-window-bl {
xbackground-image:url(/public/styles/soapy/img/left-corners-black.png);
border-left:solid #444 1px;
border-bottom:solid #444 1px;
}

.x-window-br {
xbackground-image:url(/public/styles/soapy/img/right-corners-black.png);
border-right:solid #444 1px;
border-bottom:solid #000 0;
}

.x-window-mc {
border:1px solid #d0d0d0;
background:#e8e8e8;
font-family:Helvetica, Verdana, Sans-Serif;
font-size:14px;
}

.x-window-ml {
xbackground-image:url(/public/styles/soapy/img/left-right-black.png);
border-left:solid #444 1px;
}

.x-window-mr {
xbackground-image:url(/public/styles/soapy/img/left-right-black.png);
border-right:solid #444 1px;
}

.x-window-tc,.x-window-tr {
background-image:none !important;
background-color:#000;
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
}

.x-window-header-text {
color:white !important;
text-align:center !important;
}