/*
 * Crows - Crowd Syndication 1.0
 * Copyright 2009
 * contact@crowsne.st
 */


/*
 * This file is part of Crows.
 *
 * Crows is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Crows is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Crows.  If not, see <http://www.gnu.org/licenses/>.
 *  */

* {
margin:0;
padding:0;
}

body {
font-family:verdana,sans;
font-size:12px;
background-position:50% 0;
background-repeat:no-repeat;
}

#container {
width:1020px;
border:solid #eee 1px;
margin:auto;
}

#header {
width:100%;
border-bottom:solid #444 1px;
}

.top {
width:333px;
}

#header_container {
width:1000px;
margin:auto;
}

.widget_container {
margin-right:25px;
margin-top:20px;
}

.widget,#tweet_data {
border:solid #444 1px;
}

#reports,#youtube_playlist,#podcast_playlist,#tweet_data,#news_reader {
overflow:scroll;
}

#player.widget {
background-color:#000;
}

#footer {
width:100%;
border-top:solid #444 1px;
text-align:center;
padding:11px 0;
}

h2 {
font-size:17px;
font-weight:bolder;
}

.tweet {
border-bottom:solid #ccc 1px;
padding:5px 5px 5px 0;
}

.clear {
clear:both;
}

.link {
text-decoration:underline;
cursor:pointer;
}

.tab {
border:solid #444 1px;
border-bottom:0;
float:left;
margin-right:4px;
background-color:#000;
color:#FFF;
padding:4px 15px;
}

.left {
float:left !important;
}

.right {
float:right !important;
}

.italics {
font-style:italic;
}

.round {
-moz-border-radius:10px;
-webkit-border-radius:10px;
}

.column {
width:484px;
}

.column#left {
margin-right:15px;
}

#episode_title {
font-weight:bolder;
margin-top:26px;
}

.episode {
width:430px;
float:left;
border-bottom:solid #ccc 1px;
margin:4px 0;
padding:4px;
}

.xepisode .info {
float:left;
margin-left:4px;
}

.episode .thumbnail {
float:left;
width:70px;
height:70px;
margin-right:10px;
background-position:center;
border:solid #000 1px;
}



h1 {
text-align:center;
font-size:42px;
margin:auto;
}

#contribute {
color:black !important;
text-align:left;
width:420px;
margin-right:14px;
}

#radio {
color:black !important;
text-align:left;
width:250px;
}

embed,object {
float:left;
}

.tab.active {
background-color:#FFF;
color:#000;
}

.tab:hover {
color:gold !important;
}

.episode img {
margin-top:17px;
margin-left:17px;
}

#logo {
float:left;
width:300px;
margin:auto;
}

.link.biglink {
font-size:14px;
}

.small_text {
font-size:12px;
}

.medium_text {
font-size:13px;
}

.large_text {
font-weight:bolder;
font-size:16px;
}

#link_container {
width:500px;
margin:auto;
}

.contribute_link {
font-size:17px;
float:left;
margin:0 22px;
}

.contribute_panel {
margin-left:22px;
margin-top:14px;
font-size:14px;
}

#contribute_modal .x-window-body {
background-color:#FFF;
}

#contribute_modal .x-form-item label {
xfont-weight:bolder;
font-size:13px;
}

#contribute_modal .x-tab-strip,.x-tab-panel-header {
display:none;
}

.report_form_message {
border:solid #aaa 1px;
font-size:13px;
min-height:150px;
padding:8px;
}

.x-btn-text {
font-weight:bolder;
text-transform:uppercase;
}

.x-window-proxy {
background:#e0e0e0;
border-color:#b0b0b0;
}

.x-window-tl .x-window-header {
color:#555;
}

.x-window-tl {
background-image:none !important;
background-color:#000;
-moz-border-radius-topleft:5px;
-webkit-border-top-left-radius:5px;
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
}

.x-window-bc {
xbackground-image:url(/public/styles/soapy/img/top-bottom-black.png);
}

.x-window-bl {
xbackground-image:url(/public/styles/soapy/img/left-corners-black.png);
border-left:solid #444 1px;
border-bottom:solid #444 1px;
}

.x-window-br {
xbackground-image:url(/public/styles/soapy/img/right-corners-black.png);
border-right:solid #444 1px;
border-bottom:solid #000 0;
}

.x-window-mc {
border:1px solid #d0d0d0;
background:#e8e8e8;
font-family:Helvetica, Verdana, Sans-Serif;
font-size:14px;
}

.x-window-ml {
xbackground-image:url(/public/styles/soapy/img/left-right-black.png);
border-left:solid #444 1px;
}

.x-window-mr {
xbackground-image:url(/public/styles/soapy/img/left-right-black.png);
border-right:solid #444 1px;
}

#flickr .flickr_thumb {
border:solid #444 1px;
display:block;
float:left;
margin-right:6px;
width:75px;
height:75px;
margin-bottom:3px;
}

#photo_credit {
text-decoration:none;
color:#000;
}

.map_it {
display:block;
float:right;
color:#aaa;
}

.gmnoprint img {
float:left;
border:solid #000 1px;
margin-right:5px;
}

.now {
color:blue;
}

#reports_widget {
height:252px;
float:left;
width:477px;
border:solid #777 1px;
margin-bottom:31px;
overflow:scroll;
background-color:#FFF;
}

.report , .newsarticle{
border-bottom:solid #aaa 1px;
cursor:pointer;
margin:3px;
padding:3px;
}

.follow {
color:white !important;
background-color:red;
border:solid #222 1px;
margin-bottom:4px;
float:right !important;
padding:2px 10px;
}

.report_date {
font-weight:lighter;
text-decoration:none;
font-style:italic;
}

.red {
color:red;
}

.youtube {
border-bottom:solid #aaa 1px;
float:left;
margin:3px 0;
padding:3px;
}

.youtube .thumbnail {
height:70px;
width:70px;
border:solid #000 1px;
float:left !important;
margin:3px;
}

.play_button {
margin-left:17px;
margin-top:20px;
}

#submit_panel {
margin-right:220px;
margin-top:9px;
margin-bottom:10px;
border:solid #999 1px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
padding:5px;
}

#submit_button {
margin-top:25px;
margin-right:5px;
}

.crowdate {
font-size:11px;
}

#twitter.widget,#flickr.widget,#player.widget,#contribute_modal .x-panel-body {
border:none;
}

.bold,.controls .link,.episode .title, .newsarticle .title{
font-weight:bolder;
}

.link:hover,.contribute_link.selected {
color:blue !important;
}

.x-window-tc,.x-window-tr {
background-image:none !important;
background-color:#000;
-moz-border-radius-topright:5px;
-webkit-border-top-right-radius:5px;
}

<<<<<<< HEAD
.x-window-header-text {
color:white !important;
text-align:center !important;
}
=======

.x-window-header-text{
color:white!important;
}

>>>>>>> ed/master
